extends base.pug

block style
    style 
        include ../static/styles/about.css

block content
    .container 
        h2 Best Gym Membership
        table 
            tbody 
                tr 
                    td <i class="fa fa-check-square-o fa-3x"></i>
                    td Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi sed in doloremque iure velit quod numquam amet aut, odio soluta?
                tr 
                    td <i class="fa fa-check-square-o fa-3x"></i>
                    td Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi sed in doloremque iure velit quod numquam amet aut, odio soluta?
                tr 
                    td <i class="fa fa-check-square-o fa-3x"></i>
                    td Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sequi sed in doloremque iure velit quod numquam amet aut, odio soluta?
        a(href="/contact") #[button Get in touch]