doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title LEGALIA - #{title}
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        block style
        link(rel="stylesheet", href="../static/styles/base.css")
    body 
        //- Nav bar
        nav
            .logo
                a(href="/") #[h1 LE#[span G]ALIA]
            .openMenu
                i.fa.fa-bars
            ul.mainMenu
                li
                    a(href='/') Home
                li
                    a(href='/about') About Us
                li
                    a(href='/services') Services
                a(href='/join')
                    button Join Now
                li
                    a(href='/contact') Contact
                .closeMenu
                    i.fa.fa-times
                span.icons
                    i.fa.fa-facebook
                    i.fa.fa-instagram
                    i.fa.fa-twitter
                    i.fa.fa-github

        //- dynamic content
        block content 

        //-footer
        footer 
            p &copy; #[a(href="/") legalia] all rights reserve 
            p#author design by #[a(href="https://linkedin.com/in/arrana") Aman Raj] 

        //- script
        script(src='../static/javasript/nav.js')

