extends base.pug

block style
    style 
        include ../static/styles/home.css

block content
    .container 
        h2 It's all About what you can achieve! 
        h3 Empower yourself to make the changes you need to make 
        div
            a(href="/join") 
               button Let's Get Started