extends base.pug

block style
    style 
        include ../static/styles/services.css

block content

    section
        h2 Join Our GYM
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque laudantium dolorum voluptate?
        .container 
            .card 
                .face.upper 
                    .card-price-container
                        p
                            span.original-price  &#x20B9;1000
                            span.offer SAVE 50%
                        p.selling-price
                            |    &#x20B9;
                            span 499
                            |    /month
                
                .face.lower 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda esse illum praesentium?

            .card 
                .face.upper 
                    .card-price-container
                        p
                            span.original-price  &#x20B9;3000
                            span.offer SAVE 60%
                        p.selling-price
                            |    &#x20B9;
                            span 1299
                            |    /quatre
                
                .face.lower 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda esse illum praesentium?

            .card 
                .face.upper 
                    .card-price-container
                        p
                            span.original-price  &#x20B9;12000
                            span.offer SAVE 75%
                        p.selling-price
                            |    &#x20B9;
                            span 2999
                            |    /year
                
                .face.lower 
                    dvi Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda esse illum praesentium?
        
