style
    include cards.css

.cards
    // card first (basic plan)
    .card
        h4 Basic
        .card-price-container
            p
                span.original-price  &#x20B9;199
                span.offer SAVE 80%
            p.selling-price
                |    &#x20B9;
                span 39
                |    /mo
            button Add to card
        hr
        .feature-container
            h5 Highlight features
            ul
                li
                    i.fa-solid.fa-check.green
                    |   No Ads
                li
                    i.fa-solid.fa-check.yellow
                    |   Customize url
                li
                    i.fa-solid.fa-check.yellow
                    |   Full Analytics
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   Real time tracking
                li
                    i.fa-solid.fa-check.green
                    |   track referral
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   API build own short url
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   Password protection in url
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   Admin panel
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   Full customization
                li
                    i.fa-solid.fa-check.green
                    |   Block bot
                li
                    i.fa-solid.fa-check.green
                    |   Block invalid/spam click
                li
                    i.fa-solid.fa-check.green
                    |   Fast redirection
                li
                    i.fa-solid.fa-check.yellow
                    |   24x7 Ticket support
    // card second ( premium plan)
    .card
        h4 Premium
        .card-price-container
            p
                span.original-price &#x20B9;399
                span.offer SAVE 75%
            p.selling-price
                |    &#x20B9;
                span 99
                |    /mo
            button Add to card
        hr
        .feature-container
            h5 Highlight features
            ul
                li
                    i.fa-solid.fa-check.green
                    |   No Ads
                li
                    i.fa-solid.fa-check.green
                    |   1 Custom .arr url
                li
                    i.fa-solid.fa-check.green
                    |   Full Analytics
                li
                    i.fa-solid.fa-check.green
                    |   Real time tracking
                li
                    i.fa-solid.fa-check.green
                    |   track referral
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   API build own short url
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   Password protection in url
                li
                    i.fa-sharp.fa-solid.fa-xmark.red
                    |   Admin panel
                li
                    i.fa-solid.fa-check.yellow
                    |   Partial customization
                li
                    i.fa-solid.fa-check.green
                    |   Block bot
                li
                    i.fa-solid.fa-check.green
                    |   Block invalid/spam click
                li
                    i.fa-solid.fa-check.green
                    |   Fast redirection
                li
                    i.fa-solid.fa-check.green
                    |   24x7 Email support

    // card third (business plan)
    .card
        h4 Business
        .card-price-container
            p
                span.original-price  &#x20B9;999
                span.offer SAVE 60%
            p.selling-price
                |    &#x20B9;
                span 399
                |    /mo
            button Add to card
        hr
        .feature-container
            h5 Highlight features
            ul
                li
                    i.fa-solid.fa-check.green
                    |   No Ads
                li
                    i.fa-solid.fa-check.green
                    |   3 Custom .arr url
                li
                    i.fa-solid.fa-check.green
                    |   Full Analytics
                li
                    i.fa-solid.fa-check.green
                    |   Real time tracking
                li
                    i.fa-solid.fa-check.green
                    |   track referral
                li
                    i.fa-solid.fa-check.green
                    |   API build own short url
                li
                    i.fa-solid.fa-check.green
                    |   Password protection in url
                li
                    i.fa-solid.fa-check.green
                    |   Admin panel
                li
                    i.fa-solid.fa-check.green
                    |   Full customization
                li
                    i.fa-solid.fa-check.green
                    |   Block bot
                li
                    i.fa-solid.fa-check.green
                    |   Block invalid/spam click
                li
                    i.fa-solid.fa-check.green
                    |   Fast redirection
                li
                    i.fa-solid.fa-check.green
                    |   24x7 Whatsapp support